=simple_form_for @character, url: update_general_info_character_path(@character), method: :post do |f|
  = f.input :name, wrapper_html: { class: 'input-field' }
  = f.button :submit, "Update Character"

